body {
    text-align: center;
    margin: 0 auto;
    background: url("../images/background.jpeg");
}

h1{
    text-decoration:underline;
}

main{
    margin:0 auto;
    text-align:center;
    width:1024px;
    padding:10px;
    background:rgb(255, 255, 255);
    background:rgba(255, 255, 255, 0.7);
}

table{
    border:1px solid;
    margin-left:auto;
    margin-right:auto;
}
td{
    border:1px solid;
}